<%- include("../partials/user/adminheader.ejs")%>

<div
  id="main-wrapper"
  data-theme="light"
  data-layout="vertical"
  data-navbarbg="skin6"
  data-sidebartype="full"
  data-sidebar-position="fixed"
  data-header-position="fixed"
  data-boxed-layout="full"
>
  <!-- ============================================================== -->
  <!-- Topbar header - style you can find in pages.scss -->
  <!-- ============================================================== -->
  <header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-lg">
      <div class="navbar-header" data-logobg="skin6">
        <!-- This is for the sidebar toggle which is visible on mobile only -->
        <a
          class="nav-toggler waves-effect waves-light d-block d-lg-none"
          href="javascript:void(0)"
          ><i class="ti-menu ti-close"></i
        ></a>
        <!-- ============================================================== -->
        <!-- Logo -->
        <!-- ============================================================== -->
        <div class="navbar-brand">
          <!-- Logo icon -->
          <a href="home.ejs">
            <img
              src="/admin/assets/images/freedashDark.svg"
              alt=""
              class="img-fluid"
            />
          </a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Toggle which is visible on mobile only -->
        <!-- ============================================================== -->
        <a
          class="topbartoggler d-block d-lg-none waves-effect waves-light"
          href="javascript:void(0)"
          data-bs-toggle="collapse"
          data-bs-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
          ><i class="ti-more"></i
        ></a>
      </div>
      <!-- ============================================================== -->
      <!-- End Logo -->
      <!-- ============================================================== -->
      <div class="navbar-collapse collapse" id="navbarSupportedContent">
        <ul class="navbar-nav float-end">
          <!-- ============================================================== -->
          <!-- Search -->
          <!-- ============================================================== -->
          <!-- <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                            type="search" placeholder="Search" aria-label="Search">
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li> -->

          <li class="nav-item dropdown">
            <a
              class="nav-link dropdown-toggle"
              href="javascript:void(0)"
              data-bs-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
            >
              <span class="ms-2 d-none d-lg-inline-block"
                ><span>Hello,</span> <span class="text-dark"><%=admin%></span>
                <i data-feather="chevron-down" class="svg-icon"></i
              ></span>
            </a>
            <div
              class="dropdown-menu dropdown-menu-end dropdown-menu-right user-dd animated flipInY"
            >
              <a class="dropdown-item" href="javascript:void(0)"
                ><i data-feather="user" class="svg-icon me-2 ms-1"></i> My
                Profile</a
              >
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="/admin/logout"
                ><i data-feather="power" class="svg-icon me-2 ms-1"></i>
                Logout</a
              >
              <div class="dropdown-divider"></div>
            </div>
          </li>
          <!-- ============================================================== -->
          <!-- User profile and search -->
          <!-- ============================================================== -->
        </ul>
      </div>
    </nav>
  </header>
  <!-- ============================================================== -->
  <!-- End Topbar header -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
      <!-- Sidebar navigation-->
      <nav class="sidebar-nav">
        <ul id="sidebarnav">
          <li class="sidebar-item">
            <a
              class="sidebar-link sidebar-link"
              href="/admin/"
              aria-expanded="false"
              ><i data-feather="home" class="feather-icon"></i
              ><span class="hide-menu">Dashboard</span></a
            >
          </li>
          <li class="list-divider"></li>
          <li class="nav-small-cap"><span class="hide-menu">Users</span></li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/allusers" aria-expanded="false"
              ><i class="fa-regular fa-user"></i
              ><span class="hide-menu">All Users </span></a
            >
          </li>

          <li class="list-divider"></li>

          <li class="nav-small-cap"><span class="hide-menu">Products</span></li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/products" aria-expanded="false"
              ><i class="fa-regular fa-user"></i
              ><span class="hide-menu">All Product </span></a
            >
          </li>

          <li class="sidebar-item">
            <a
              class="sidebar-link"
              href="/admin/addproducts"
              aria-expanded="false"
              ><i class="fa-solid fa-plus"></i
              ><span class="hide-menu">Add Products</span></a
            >
          </li>

          <li class="sidebar-item">
            <a class="sidebar-link" href="/admin/category" aria-expanded="false"
              ><i class="fa-solid fa-list"></i
              ><span class="hide-menu">category</span></a
            >
          </li>

          <li class="list-divider"></li>
          <li class="nav-small-cap"><span class="hide-menu">Orders</span></li>

          <li class="sidebar-item">
            <a
              class="sidebar-link sidebar-link"
              href="/admin/allorders"
              aria-expanded="false"
              ><i class="fa-solid fa-cart-shopping"></i
              ><span class="hide-menu">All Orders </span></a
            >
          </li>

          <li class="list-divider"></li>
          <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>

          <li class="sidebar-item">
            <a
              class="sidebar-link sidebar-link"
              href="/admin/logout"
              aria-expanded="false"
              ><i data-feather="log-out" class="feather-icon"></i
              ><span class="hide-menu">Logout</span></a
            >
          </li>
        </ul>
      </nav>
      <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
  </aside>
  <!-- ============================================================== -->
  <!-- End Left Sidebar - style you can find in sidebar.scss  -->
  <!-- ============================================================== -->
  <!-- ============================================================== -->
  <!-- Page wrapper  -->
  <!-- ============================================================== -->
  <div class="page-wrapper bg-dark" style="min-height: 775px">
    <div class="container mt-5">
      <div class="row">
        <div class="col-lg-12">
          <div class="main-box clearfix">
            <div class="table-responsive">
              <table class="table user-list" id="userTable" style="color: white;">
                <thead>
                  <tr>
                    <th><span class="ms-1">Name</span></th>
                    <th><span class="ms-1">Description</span></th>
                    <th><span class="ms-1">Price</span></th>
                    <th><span class="ms-5">Stock</span></th>

                    <th><span class="ms-1">Images</span></th>
                    <th><span class="ms-1">Edit</span></th>
                    <th><span class="ms-1">Status</span></th>
                    <th><span class="ms-1">Delete</span></th>

                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% allProducts.forEach(product => { %>
                  </tr>

                  <tr>
                    <td>
                      <p class="user-link mt-4"><%= product.Name %></p>
                    </td>
                    <td>
                      <p class="user-link mt-4"><%= product.Description%></p>
                    </td>
                    <td>
                      <p class="user-link mt-4"><%= product.OfferPrice %></p>
                    </td>
                    <td>
                      <p class="user-link mt-4 text-center">
                        <%= product.Quantity %>
                      </p>
                    </td>

                    <td>
                      <% for (let i = 0; i < product.Images.length; i++) { %>
                      <img
                        class="circular-image"
                        src="/uploads/<%= product.Images[i] %>"
                        alt="<%= product.Name %> Image"
                        onclick="openPopup('/uploads/<%= product.Images[i] %>')"
                      />
                      <% } %>
                    </td>
                    <!-- Popup HTML -->
                    <div id="imagePopup" class="image-popup">
                      <div class="popup-content">
                        <span class="close-popup" onclick="closePopup()"
                          >&times;</span
                        >
                        <img id="popupImage" />
                      </div>
                    </div>
                            <td>
                              <a  href="/admin/editproduct/<%= product._id %>"id="button1"
                                class="table-link btn btn-primary mt-2"style="width: 100%" >Edit</a >  
                            </td>

                            <td>
                              <p class="user-link mt-3" id="status_<%=product._id%>"><%= product.Status %></p>
                            </td>
                    <td style="width: 20%">

                      <% if (product.Status=="blocked") { %>
                        <button id="button_<%= product._id %>" class="btn btn-primary mt-2" style="width: 100%;" onclick="listproduct('<%= product._id %>','list')">List</button>
                    <% } else { %>
                        <button id="button_<%= product._id %>" class="btn btn-primary mt-2" style="width: 100%;" onclick="listproduct('<%= product._id %>','unlist')">Unlist</button>
                    <% } %>
                    

                    </td>
                  </tr>
                  <% }) %>
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

 
  <link rel="stylesheet" href="/admin/css/allproducts.css">
</div>




<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/sweetalert2@10">
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@10"></script>

  <script>
    // Add these functions to your JavaScript file or within a script tag at the end of your HTML document

    function openPopup(imageSrc) {
      // Set the source of the popup image
      document.getElementById("popupImage").src = imageSrc;

      // Show the popup
      document.getElementById("imagePopup").style.display = "flex";
    }

    function closePopup() {
      // Hide the popup
      document.getElementById("imagePopup").style.display = "none";
    }
    function listproduct(proid, action) {
    // Show a confirmation dialog
    
    Swal.fire({
        title: 'Confirmation',
        text: `Are you sure you want to ${action === 'list' ? 'list' : 'unlist'} this product?`,
        icon: 'question',
        showCancelButton: true,
        confirmButtonText: 'Yes',
        cancelButtonText: 'No'
    }).then((result) => {
        if (result.isConfirmed) {
            // User clicked "Yes," proceed with the API call
            fetch(`/admin/${action}product/${proid}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({ proid }),
            }).then(response => response.json())
                .then(data => {
                    // Update the status in the table without reloading the page
                    const statusElement = document.getElementById(`status_${proid}`);
                    const buttonElement = document.getElementById(`button_${proid}`);

                    if (statusElement && buttonElement) {
                        statusElement.textContent = data.status;

                        // Update button text and click event based on the received status
                        if (data.status === "active") {
                            buttonElement.textContent = "unlist";
                            buttonElement.setAttribute("onclick", `listproduct('${proid}', 'unlist')`);
                        } else {
                            buttonElement.textContent = "list";
                            buttonElement.setAttribute("onclick", `listproduct('${proid}', 'list')`);
                        }
                    }
                }).catch(error => console.error('Error:', error));
        }
        // If the user clicked "No" or closed the dialog, do nothing
    });
}


  </script>

<%- include("../partials/user/adminfooter.ejs")%>