
<%- include("../partials/user/adminheader.ejs")%>

    <div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
        data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
        <!-- ============================================================== -->
        <!-- Topbar header - style you can find in pages.scss -->
        <!-- ============================================================== -->
        <header class="topbar" data-navbarbg="skin6">
            <nav class="navbar top-navbar navbar-expand-lg">
                <div class="navbar-header" data-logobg="skin6">
                    <!-- This is for the sidebar toggle which is visible on mobile only -->
                    <a class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)"><i
                            class="ti-menu ti-close"></i></a>
                    <!-- ============================================================== -->
                    <!-- Logo -->
                    <!-- ============================================================== -->
                    <div class="navbar-brand">
                        <!-- Logo icon -->
                        <a href="home.ejs">
                            <img src="/admin/assets/images/freedashDark.svg" alt="" class="img-fluid">
                        </a>
                    </div>
                    <!-- ============================================================== -->
                    <!-- End Logo -->
                    <!-- ============================================================== -->
                    <!-- ============================================================== -->
                    <!-- Toggle which is visible on mobile only -->
                    <!-- ============================================================== -->
                    <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
                        data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                            class="ti-more"></i></a>
                </div>
                <!-- ============================================================== -->
                <!-- End Logo -->
                <!-- ============================================================== -->
                <div class="navbar-collapse collapse" id="navbarSupportedContent">
             
                    <ul class="navbar-nav float-end">
                        <!-- ============================================================== -->
                        <!-- Search -->
                        <!-- ============================================================== -->
                        <!-- <li class="nav-item d-none d-md-block">
                            <a class="nav-link" href="javascript:void(0)">
                                <form>
                                    <div class="customize-input">
                                        <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                            type="search" placeholder="Search" aria-label="Search">
                                        <i class="form-control-icon" data-feather="search"></i>
                                    </div>
                                </form>
                            </a>
                        </li> -->

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown"
                                aria-haspopup="true" aria-expanded="false">
                                <img src="/admin/assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle"
                                    width="40">
                                <span class="ms-2 d-none d-lg-inline-block"><span>Hello,</span> <span
                                        class="text-dark"><%=admin%></span> <i data-feather="chevron-down"
                                        class="svg-icon"></i></span>
                            </a>
                            <div class="dropdown-menu dropdown-menu-end dropdown-menu-right user-dd animated flipInY">
                                <a class="dropdown-item" href="javascript:void(0)"><i data-feather="user"
                                        class="svg-icon me-2 ms-1"></i>
                                    My Profile</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="/admin/logout"><i data-feather="power"
                                        class="svg-icon me-2 ms-1"></i>
                                    Logout</a>
                                <div class="dropdown-divider"></div>
                                
                            </div>
                        </li>
                        <!-- ============================================================== -->
                        <!-- User profile and search -->
                        <!-- ============================================================== -->
                    </ul>
                </div>
            </nav>
        </header>
        <!-- ============================================================== -->
        <!-- End Topbar header -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <aside class="left-sidebar" data-sidebarbg="skin6">
            <!-- Sidebar scroll-->
            <div class="scroll-sidebar" data-sidebarbg="skin6">
                <!-- Sidebar navigation-->
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/dashboard"
                                aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                                    class="hide-menu">Dashboard</span></a></li>
                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Users</span></li>

                        <li class="sidebar-item"> <a class="sidebar-link" href="/admin/allusers"
                                aria-expanded="false"><i class="fa-regular fa-user"></i><span
                                    class="hide-menu">All Users
                                </span></a>
                        </li>

                        <li class="list-divider"></li>


                        <li class="nav-small-cap"><span class="hide-menu">Products</span></li>

                        <li class="sidebar-item"> <a class="sidebar-link" href="/admin/products"
                            aria-expanded="false"><i class="fa-regular fa-user"></i><span
                                class="hide-menu">All Product  </span></a>
                    </li>

                    <li class="sidebar-item"> <a class="sidebar-link" href="/admin/addproducts"
                        aria-expanded="false"><i class="fa-solid fa-plus"></i><span
                            class="hide-menu">Add Products</span></a>
                     </li>

                     <li class="sidebar-item"> <a class="sidebar-link" href="/admin/category"
                        aria-expanded="false"><i class="fa-solid fa-list"></i><span
                            class="hide-menu">category</span></a>
                     </li>


                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Orders</span></li>

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/allorders"
                                aria-expanded="false"><i class="fa-solid fa-cart-shopping"></i><span
                                    class="hide-menu">All Orders
                                </span></a>
                        </li>



                        <li class="list-divider"></li>
                        <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>

                        <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/logout"
                                aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                                    class="hide-menu">Logout</span></a></li>
                    </ul>
                </nav>
                <!-- End Sidebar navigation -->
            </div>
            <!-- End Sidebar scroll-->
        </aside>
        <!-- ============================================================== -->
        <!-- End Left Sidebar - style you can find in sidebar.scss  -->
        <!-- ============================================================== -->
        <!-- ============================================================== -->
        <!-- Page wrapper  -->
        <!-- ============================================================== -->
        <div class="page-wrapper">



<section class="intro  bg-dark shadow-2-strong pt-5 pb-3 mb-3" >
    <div class="mask d-flex align-items-center h-100" >
      <div class="container">
        <% if (locals.succ) { %>
           <h4 style="background-color: rgb(223, 73, 73); text-align: center; color: white;"><%= succ%></h4>

          <% }%>
        <div class="row justify-content-center">
          <div class="col-10">
            <div class="card bg-dark shadow-2-strong">
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table table-dark table-borderless mb-0">
                    <thead>
                      <tr>
                        <th scope="col">No</th>
                        <th scope="col">Category Name</th>
                        <th scope="col">Description</th>
                        <th scope="col">Action</th>
                         <th scope="col">Status</th>
                      </tr>
                    </thead>
                    <% category.forEach((category, index) => { %>
                    <tbody>

                      <tr>
                        <th scope="row"><%= index +1 %> </th>
                        <td><%=category.Name%></td>
                        <td><%=category.Description%></td>
                        <td><%=category.Status%></td>

                       
                          <td>
                            <%if(category.Status=="active"){%>
                            <a href="/admin/Unlistcategory/<%=category.id%>"" class="btn btn-primary mb-2 " style="width: 100%;" >Unlist</a>
                            <%}else{%>

                            <a href="/admin/listcategory/<%=category.id%>" class="btn btn-primary mb-2" style="width: 100%;"  >list</a>

                            <%}%>
                        </td>
                    
                      </tr>
                    
                     
                    </tbody>
                    <% }); %>
                  </table>
              
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="container d-flex align-items-center justify-content-end mt-3">
            <a href="/admin/addcategory" class="btn btn-success btn-rounded">Add new category</a>
           </div>
      </div>
      
    </div>
 
      

</section>



</div>

<%- include("../partials/user/adminfooter.ejs")%>