
<%-include('../partials/user/adminheader.ejs')%>

<style>
.card-container {
  display: flex;
  flex-wrap: nowrap; /* Prevent wrapping to the next line */
  overflow-x: auto; /* Add horizontal scrollbar if needed */
}

.card {
  flex: 0 0 auto; /* Allow cards to shrink if there are many */
  margin-right: 10px; /* Adjust as needed for spacing between cards */
}.small-image {
  max-width: 200px;
  max-height: 150px;
}
.image-box {
        width: 80px;
        height: 100px;
        border: 1px dashed #ccc;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        color: #888;
        cursor: pointer;
        position: relative;
        overflow: hidden;
    }

    /* Hide the input element */
    .image-box input[type='file'] {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        opacity: 0;
        cursor: pointer;
    }

</style>
    
<div id="main-wrapper" data-theme="light" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
data-sidebar-position="fixed" data-header-position="fixed" data-boxed-layout="full">
<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar" data-navbarbg="skin6">
    <nav class="navbar top-navbar navbar-expand-lg">
        <div class="navbar-header" data-logobg="skin6">
            <!-- This is for the sidebar toggle which is visible on mobile only -->
            <a class="nav-toggler waves-effect waves-light d-block d-lg-none" href="javascript:void(0)"><i
                    class="ti-menu ti-close"></i></a>
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-brand">
                <!-- Logo icon -->
                <a href="home.ejs">
                    <img src="/admin/assets/images/freedashDark.svg" alt="" class="img-fluid">
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <!-- ============================================================== -->
            <!-- Toggle which is visible on mobile only -->
            <!-- ============================================================== -->
            <a class="topbartoggler d-block d-lg-none waves-effect waves-light" href="javascript:void(0)"
                data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"><i
                    class="ti-more"></i></a>
        </div>
        <!-- ============================================================== -->
        <!-- End Logo -->
        <!-- ============================================================== -->
        <div class="navbar-collapse collapse" id="navbarSupportedContent">
     
            <ul class="navbar-nav float-end">
                <!-- ============================================================== -->
                <!-- Search -->
                <!-- ============================================================== -->
                <!-- <li class="nav-item d-none d-md-block">
                    <a class="nav-link" href="javascript:void(0)">
                        <form>
                            <div class="customize-input">
                                <input class="form-control custom-shadow custom-radius border-0 bg-white"
                                    type="search" placeholder="Search" aria-label="Search">
                                <i class="form-control-icon" data-feather="search"></i>
                            </div>
                        </form>
                    </a>
                </li> -->

                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="javascript:void(0)" data-bs-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">
                        <img src="/admin/assets/images/users/profile-pic.jpg" alt="user" class="rounded-circle"
                            width="40">
                        <span class="ms-2 d-none d-lg-inline-block"><span>Hello,</span> <span
                                class="text-dark"><%=admin%></span> <i data-feather="chevron-down"
                                class="svg-icon"></i></span>
                    </a>
                    <div class="dropdown-menu dropdown-menu-end dropdown-menu-right user-dd animated flipInY">
                        <a class="dropdown-item" href="javascript:void(0)"><i data-feather="user"
                                class="svg-icon me-2 ms-1"></i>
                            My Profile</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="/admin/logout"><i data-feather="power"
                                class="svg-icon me-2 ms-1"></i>
                            Logout</a>
                        <div class="dropdown-divider"></div>
                        
                    </div>
                </li>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
            </ul>
        </div>
    </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Left Sidebar - style you can find in sidebar.scss  -->
<!-- ============================================================== -->
<aside class="left-sidebar" data-sidebarbg="skin6">
    <!-- Sidebar scroll-->
    <div class="scroll-sidebar" data-sidebarbg="skin6">
        <!-- Sidebar navigation-->
        <nav class="sidebar-nav">
            <ul id="sidebarnav">
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/"
                        aria-expanded="false"><i data-feather="home" class="feather-icon"></i><span
                            class="hide-menu">Dashboard</span></a></li>
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Users</span></li>

                <li class="sidebar-item"> <a class="sidebar-link" href="/admin/allusers"
                        aria-expanded="false"><i class="fa-regular fa-user"></i><span
                            class="hide-menu">All Users
                        </span></a>
                </li>

                <li class="list-divider"></li>


                <li class="nav-small-cap"><span class="hide-menu">Products</span></li>

                <li class="sidebar-item"> <a class="sidebar-link" href="/admin/products"
                    aria-expanded="false"><i class="fa-regular fa-user"></i><span
                        class="hide-menu">All Product  </span></a>
            </li>

            <li class="sidebar-item"> <a class="sidebar-link" href="/admin/addproducts"
                aria-expanded="false"><i class="fa-solid fa-plus"></i><span
                    class="hide-menu">Add Products</span></a>
             </li>

             <li class="sidebar-item"> <a class="sidebar-link" href="/admin/category"
                aria-expanded="false"><i class="fa-solid fa-list"></i><span
                    class="hide-menu">category</span></a>
             </li>


                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Orders</span></li>

                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/allorders"
                        aria-expanded="false"><i class="fa-solid fa-cart-shopping"></i><span
                            class="hide-menu">All Orders
                        </span></a>
                </li>
           
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/coupon"
                  aria-expanded="false"><i class="fa-solid fa-cart-shopping"></i><span
                      class="hide-menu">Coupon
                  </span></a>
          </li>

                
                <li class="list-divider"></li>
                <li class="nav-small-cap"><span class="hide-menu">Extra</span></li>
                
                <li class="sidebar-item"> <a class="sidebar-link sidebar-link" href="/admin/logout"
                        aria-expanded="false"><i data-feather="log-out" class="feather-icon"></i><span
                            class="hide-menu">Logout</span></a></li>
            </ul>
        </nav>
        <!-- End Sidebar navigation -->
    </div>
    <!-- End Sidebar scroll-->
</aside>

<div class="page-wrapper bg-dark" style="min-height: 775px;">
    <div class="container mt-5">
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="card">
            <div class="card-body">

<form action="/admin/submitedit/<%=products.id%>" method="POST"  class="bg-white">


    <div class="form-group row">
        <label for="productName" class="col-sm-3 col-form-label" >Product Name</label>
        <div class="col-sm-9">
          <input type="text" class="form-control" id="productName" name="name"  placeholder="Product Name" value="<%=products.Name%>" required>
          <small id="nameError" class="text-danger"></small>
        </div>
      </div>

      <div class="form-group row">
        <label for="productPrice" class="col-sm-3 col-form-label">Product Price</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="productPrice" value="<%=products.Price%>" min="1" name="price" placeholder="Product Price" required>
          <small id="priceError" class="text-danger"></small>
        </div>
      </div>

      <div class="form-group row">
        <label for="productPrice" class="col-sm-3 col-form-label">Offer Price</label>
        <div class="col-sm-9">
          <input type="number" class="form-control" id="productPrice" value="<%=products.OfferPrice%>" min="1" name="offerprice" placeholder="Product Price" required>
          <small id="priceError" class="text-danger"></small>
        </div>
      </div>
     

  <div class="form-group row">
      <label for="productDescription" class="col-sm-3 col-form-label">Product Description</label>
      <div class="col-sm-9">
          <input class="form-control" id="productDescription" name="description" value="<%=products.Description%>" placeholder="Product Description" required>
          <small id="descriptionError" class="text-danger"></small>
      </div>
  </div>
     <input type="text" id="proid" value="<%=products._id%>" hidden>
     <div class="row">
      <label for="productCategory" class="col-sm-3 col-form-label mt-5">Category</label>
      <div class="col-sm-9">
        <select class="form-control mt-5" id="productCategory" name="category" required>
            <% category.forEach(category => { %>
              <option value="<%= category._id %>" <%= (category._id.toString() === products.Category.toString()) ? 'selected' : '' %>><%= category.Name %></option>
            <% }); %>
          </select>
          
          <small id="categoryError" class="text-danger"></small>
      </div>
  </div>
  
  <div class="form-group row">
      <label for="productQuantity" class="col-sm-3 col-form-label">Quantity</label>
      <div class="col-sm-9">
          <input type="number" class="form-control" value="<%=products.Quantity%>" id="productQuantity" name="quantity" min="1" placeholder="Quantity" required>
          <small id="quantityError" class="text-danger"></small>
      </div>
  </div>


        </div>

      <button type="submit" class="btn btn-primary mr-2"">Submit</button>

   <!-- Display product images on small cards -->
   <div class="form-group row" ms-3>

  <div class="col-sm-9">
    <div class="card-container mt-4">

    
    
    
    <small id="imagesError" class="text-danger"></small>
  </div>
</div>

  
</div>
</form>


<form action="/admin/update/<%= products._id %>" method="POST" enctype="multipart/form-data">
  <div class="card-container mt-4" style="display: flex; flex-wrap: nowrap; overflow-x: auto;">
    <% products.Images.forEach((image, index) => { %>
      <div class="card mr-3" style="flex: 0 0 auto;">
        <img src="/uploads/<%= image %>" class="card-img-top small-image" id="image<%= index %>">
        <div class="card-body">
          <!-- Additional information or actions can be added here -->
          <p class="card-text">Image <%= index + 1 %></p>
          <button class="btn btn-danger" onclick="deleteImage(event, '<%= image %>', '<%= index %>','<%= products._id %>' )">remove</button>
        </div>
      </div>
    <% }); %>
  </div>
</form>
<% if (products.Images.length < 4) { %>
  <div class="card mr-3" style="flex: 0 0 auto;">
    <form id="addImageForm">
      <input type="file" name="image" id="imageInput">
      <button class="btn btn-success" style="height: 40px;" type="button" onclick="addImage()">Submit</button>
    </form>
  </div>
<% } %>
<!-- Closing tags for your HTML structure -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/sweetalert/2.1.2/sweetalert.min.js" integrity="sha512-AA1Bzp5Q0K1KanKKmvN/4d3IRKVlv9PYgwFPvm32nPO6QS8yH1HO7LbgB1pgiOxPtfeg5zEn2ba64MUcqJx6CA==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


<script>
function deleteImage(event, imgid, index, productid) {
  event.preventDefault();

  // Display a confirmation alert
  swal({
    title: "Are you sure?",
    text: "Once deleted, you will not be able to recover this image!",
    icon: "warning",
    buttons: true,
    dangerMode: true,
  })
  .then((willDelete) => {
    if (willDelete) {
      // User clicked the "Delete" button

      fetch(`/admin/deleteimage/${imgid}/${index}/${productid}`, {
        method: "POST",
        headers: {
          'Content-Type': 'application/json',
        },
      })
      .then(response => {
        if (response.ok) {
          console.log('Image deleted successfully');

          // Update the src attribute of the corresponding <img> element
          const imgElement = document.getElementById(`image${index}`);
          if (imgElement) {
            // Update the src attribute without appending a timestamp
            imgElement.src = `/uploads/${imgid}`;
          }

          // Show a success message
          swal("Poof! Your image has been deleted!", {
            icon: "success",
          });

          // Optionally, reload the page after a short delay
          setTimeout(() => {
            window.location.reload();
          }, 1000);
        } else {
          console.error('Failed to delete image');
          // Show an error message
          swal("Oops! Something went wrong.", {
            icon: "error",
          });
        }
      })
      .catch(error => {
        console.error('Error:', error);
        // Show an error message
        swal("Oops! Something went wrong.", {
          icon: "error",
        });
      });
    } else {
      // User clicked the "Cancel" button or closed the alert
      // Do nothing or handle as needed
    }
  });
}

</script>
<script>
  function addImage() {
      // Get the form and image input elements
      const form = document.getElementById('addImageForm');
      const imageInput = document.getElementById('imageInput');
      const proid= document.getElementById('proid').value
      console.log(proid);
      // Create a FormData object to append the image file
      const formData = new FormData(form);
      formData.append('productId', proid); // Replace with your actual product ID

      // Make an AJAX request to add the new image
      fetch('/admin/addImage', {
          method: 'POST',
          body: formData
      })
      .then(response => {
          if (!response.ok) {
              throw new Error('Network response was not ok');
          }
          return response.json();
      })
      .then(data => {
          // Handle the response from the server
          console.log('Image added successfully:', data)

      window.location.reload()

          // Reset the form (optional)
          form.reset();
      })
      .catch(error => {
          // Handle errors
          console.error('There was a problem adding the image:', error.message);
      });
  }
</script>


<%-include('../partials/user/adminfooter.ejs')%>