<%-include('../partials/user/header.ejs')%>
<%-include('../partials/user/navbar.ejs')%>

        <main class="main">
        	<div class="page-header text-center" style="background-image: url('/user/assets/images/page-header-bg.jpg')">
        		<div class="container">
        			<h1 class="page-title">Checkout<span>Shop</span></h1>
        		</div><!-- End .container -->
        	</div><!-- End .page-header -->

            <div class="page-content mt-5">
            	<div class="checkout">
	                <div class="container">
            			<div class="checkout-discount" hidden>
            				<form action="#">
        						<input type="text" class="form-control" required id="checkout-discount-input">
            					<label for="checkout-discount-input" class="text-truncate">Have a coupon? <span>Click here to enter your code</span></label>
            				</form>
            			</div><!-- End .checkout-discount -->
            			
		                	<div class="row">
		                		<div class="col-lg-9">
									<form action="/addadress" method="POST">
									<div class="modal fade" id="modalContactForm" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
									aria-hidden="true">
									<div class="modal-dialog" role="document">
									  <div class="modal-content">
										<div class="modal-header text-center">
										  <h4 class="modal-title w-100 font-weight-bold">Enter the details</h4>
										  <button type="button" class="close" data-dismiss="modal" aria-label="Close">
											<span aria-hidden="true">&times;</span>
										  </button>
										</div>
										<div class="modal-body mx-3">
										  <div class="md-form mb-5">
											<i class="fas fa-user prefix grey-text"></i>
											<input type="text" id="form34" class="form-control validate" name="location">
											<label data-error="wrong" data-success="right" for="form34">Location</label>
										  </div>

										  <div class="md-form mb-5">
											<i class="fas fa-envelope prefix grey-text"></i>
											<input type="text" id="form29" class="form-control validate" name="Address">
											<label data-error="wrong" data-success="right" for="form29">Address</label>
										  </div>

										  <div class="md-form mb-5">
											<i class="fas fa-tag prefix grey-text"></i>
											<input type="text" id="form32" class="form-control validate" name="city">
											<label data-error="wrong" data-success="right" for="form32">City</label>
										  </div>

										  <div class="md-form mb-5">
											<i class="fas fa-tag prefix grey-text"></i>
											<input type="text" id="form32" class="form-control validate" name="zip">
											<label data-error="wrong" data-success="right" for="form32">Zip</label>
										  </div>
										  <div class="md-form mb-5">
											<i class="fas fa-tag prefix grey-text"></i>
											<input type="text" id="form32" class="form-control validate" name="phone">
											<label data-error="wrong" data-success="right" for="form32">Phone</label>
										  </div>

										  <div class="md-form mb-5">
											<i class="fas fa-tag prefix grey-text"></i>
											<input type="email" id="form32" class="form-control validate" name="email">
											<label data-error="wrong" data-success="right" for="form32">Email</label>
										  </div>

										  <div class="md-form mb-5">
											<i class="fas fa-tag prefix grey-text"></i>
											<input type="text" id="form32" class="form-control validate" name="state">
											<label data-error="wrong" data-success="right" for="form32">State</label>
										  </div>

										</div>
										<div class="modal-footer d-flex justify-content-center">
										  <button type="submit" class="btn btn-primary">Send <i class="fas fa-paper-plane-o ml-1"></i></button>
										</div>
									  </div>
									</div>
								  </div>
								</form>
								<div id="selectedAddress" style="max-width: 400px;"></div>


						
								<!-- Your select element -->
								<select id="addressSelect" class="selectpicker" style="max-width: 200px;" required onchange="updateSelectedAddress()">
									<option disabled selected value="" >Please select an address</option>
									<% if (user && user.Addresses && user.Addresses.length > 0) { %>
									  <% user.Addresses.forEach(Address => { %>
										<option>
										  <%= `Location: ${Address.location}, Address: ${Address.address},
										  City: ${Address.city}, Zip: ${Address.zip},Phone: ${Address.phone}, 
										 Email:  ${Address.email}, State: ${Address.state}` %>
										</option>
									  <% }); %>
									<% } else { %>
									  <option>No addresses found for this user.</option>
									<% } %>
								  </select>
								  <div id="selectedAddress"></div>

								  <div>
									<a href="" class="btn btn-primary btn-rounded mb-4 mt-3" data-toggle="modal" data-target="#modalContactForm">Add Address
								</a>
								  </div>



		                		</div><!-- End .col-lg-9 -->
		                		<aside class="col-lg-3">
		                			<div class="summary">
		                				<h3 class="summary-title">Your Order</h3><!-- End .summary-title -->

		                				<table class="table table-summary">
		                					<thead>
		                						<tr>
		                							<th>Product</th>
		                							<th>Total</th>
		                						</tr>
		                					</thead>

		                					<tbody>
												
													<% cartData.products.forEach(product => { %>
		                						<tr>
		                							<td><a href="#"><%= product.productId.Name %></a></td>
		                							<td><%= product.totalPrice %> </td>
		                						</tr>
												<% }); %>
		                						<tr class="summary-subtotal">
		                							<td>Subtotal:</td>
		                							<td>$160.00</td>
		                						</tr><!-- End .summary-subtotal -->
		                						<tr>
		                							<td>Shipping:</td>
		                							<td>Free shipping</td>
		                						</tr>
		                						<tr class="summary-total">
		                							<td>Total:</td>
		                							<td>$<%= totalPriceTotal %></td>
		                						</tr><!-- End .summary-total -->
											
		                					</tbody>
		                				</table><!-- End .table table-summary -->

		                				<div class="accordion-summary" id="accordion-payment">
										    <div class="card" hidden>
										        <div class="card-header" id="heading-1">
										            <h2 class="card-title">
										                <a role="button" data-toggle="collapse" href="#collapse-1" aria-expanded="true" aria-controls="collapse-1">
										                    Direct bank transfer
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-1" class="collapse show" aria-labelledby="heading-1" data-parent="#accordion-payment">
										            <div class="card-body">
										                Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will not be shipped until the funds have cleared in our account.
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card" hidden>
										        <div class="card-header" id="heading-2">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-2" aria-expanded="false" aria-controls="collapse-2">
										                    Check payments
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div hidden id="collapse-2" class="collapse" aria-labelledby="heading-2" data-parent="#accordion-payment">
										            <div class="card-body">
										                Ipsum dolor sit amet, consectetuer adipiscing elit. Donec odio. Quisque volutpat mattis eros. Nullam malesuada erat ut turpis. 
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card">
										        <div class="card-header" id="heading-3">
										            <h2 class="card-title">
										                <a class="collapsed"  role="button" data-toggle="collapse" href="#collapse-3" aria-expanded="false" aria-controls="collapse-3">
										                    Cash on delivery
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-3" class="collapse" aria-labelledby="heading-3" data-parent="#accordion-payment">
										            <div class="card-body">Cash on delivery Available now
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										    <div class="card" hidden>
										        <div class="card-header" id="heading-4">
										            <h2 class="card-title">
										                <a class="collapsed" role="button" data-toggle="collapse" href="#collapse-4" aria-expanded="false" aria-controls="collapse-4">
										                    PayPal <small class="float-right paypal-link">What is PayPal?</small>
										                </a>
										            </h2>
										        </div><!-- End .card-header -->
										        <div id="collapse-4" class="collapse" aria-labelledby="heading-4" data-parent="#accordion-payment">
										            <div class="card-body">
										                Nullam malesuada erat ut turpis. Suspendisse urna nibh, viverra non, semper suscipit, posuere a, pede. Donec nec justo eget felis facilisis fermentum.
										            </div><!-- End .card-body -->
										        </div><!-- End .collapse -->
										    </div><!-- End .card -->

										   
										</div><!-- End .accordion -->

		                				<button  class="btn btn-outline-primary-2 btn-order btn-block" onclick="sendSelection('cash on delivery')">
		                					<span class="btn-text">Place Order</span>
		                					<span class="btn-hover-text">Proceed to Checkout</span>
		                				</button>
		                			</div><!-- End .summary -->
		                		</aside><!-- End .col-lg-3 -->
		                	</div><!-- End .row -->
						
            			
	                </div><!-- End .container -->
                </div><!-- End .checkout -->
            </div><!-- End .page-content -->
        </main><!-- End .main -->



<%-include('../partials/user/footer.ejs')%>




</div>

<!-- Include SweetAlert library (choose one of the following options) -->
<!-- Option 1: CDN -->
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<!-- Option 2: Local download -->
<!-- <script src="path/to/sweetalert2.all.min.js"></script> -->

<script>
	function updateSelectedAddress() {
		// Get the selected option
		const selectedOption = document.getElementById('addressSelect').value;

		// Update the div with the selected address
		document.getElementById('selectedAddress').textContent = `Selected Address: ${selectedOption}`;
	}
</script>

<script>
	
    function sendSelection(paymentMethod) {
        // Get the selected value
        const selectedValue = document.getElementById("addressSelect").value;

        // Example fetch API request
        fetch('/placeorder', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json',
            },
            body: JSON.stringify({
                paymentMethod: paymentMethod,
                selectedValue: selectedValue
            }),
        })
        .then(response => response.json())
        .then(data => {
            console.log('Backend response:', data);

            // Check if the order processing was successful
            if (data.success) {
                // Display SweetAlert success notification
                Swal.fire({
                    title: 'Order Placed Successfully!',
                    icon: 'success',
                    showConfirmButton: false,
                    timer: 2000 // Set the duration for the alert
					
                });

				setTimeout(()=>{
						// Redirect to the user cart page after the alert is closed
						window.location.href = '/usercart';
				},2000)

            } else {
                // Display SweetAlert error notification
                Swal.fire({
                    title: 'Order Processing Failed',
                    text: 'An error occurred while processing the order.',
                    icon: 'error',
                    confirmButtonText: 'OK'
                });
            }
        })
        .catch(error => {
            console.error('Error:', error);
            // Handle errors if any
        });
    }
</script>


