<%-include("../partials/user/header.ejs")%>
<%-include("../partials/user/navbar.ejs")%>



        <main class="main">
            <div class="login-page bg-image pt-8 pb-8 pt-md-12 pb-md-12 pt-lg-17 pb-lg-17" style="background-image: url('user/assets/images/backgrounds/login-bg.jpg')">
            	<div class="container">
            		<div class="form-box">
            			<div class="form-tab">
	            			<ul class="nav nav-pills nav-fill" role="tablist">
							    
							    <li class="nav-item">
							        <a class="nav-link active" id="register-tab-2" data-toggle="tab" href="#register-2" role="tab" aria-controls="register-2" aria-selected="true">Reset Password</a>
							    </li>
							</ul>
							<div class="tab-content">
							    <div class="tab-pane fade" id="signin-2" role="tabpanel" aria-labelledby="signin-tab-2">

							    </div><!-- .End .tab-pane -->
							    <div class="tab-pane fade show active" id="register-2" role="tabpanel" aria-labelledby="register-tab-2">
									<form action="/forgetpassword" method="post">
							    		<div class="form-group">
							    			<label for="singin-email-2"> email address *</label>
							    			<input type="text" class="form-control" id="singin-email-2" name="email" required>
											<span id="emailError" style="color: red;"></span>
							    		</div><!-- End .form-group -->


							    		<div class="form-footer">
							    			<button type="submit" class="btn btn-outline-primary-2" >
			                					<span>Continue</span>
			            						<i class="icon-long-arrow-right"></i>
			                				</button>
											<!-- <a href="#" class="forgot-link">Forgot Your Password?</a> -->
							    		</div><!-- End .form-footer -->
                                        <% if(locals.message){%>
                                            <p class="text-danger">  <%=message%></p>
                                              <%}%>
											  <% if(locals.success){%>
												<p class="text-success">  <%=success%></p>
												  <%}%>
							    	</form>
                                 

							    </div><!-- .End .tab-pane -->
							</div><!-- End .tab-content -->
						</div><!-- End .form-tab -->
            		</div><!-- End .form-box -->
            	</div><!-- End .container -->
            </div><!-- End .login-page section-bg -->
        </main><!-- End .main -->



        <%-include('../partials/user/footbar.ejs')%>
        <%-include('../partials/user/footer.ejs')%>