<%-include("../partials/user/header.ejs")%>
<%-include("../partials/user/navbar.ejs")%>

<style>
    .product-container {
      display: flex;
      flex-wrap: wrap;
    }
  
    .col-6 {
      flex: 0 0 50%; /* Two columns in a row for larger screens */
      max-width: 25%;
    }
  
    @media (max-width: 768px) {
      .col-6 {
        flex: 0 0 100%; /* One column in a row for smaller screens */
        max-width: 100%;
      }
    }
  </style>
  
  <div class="product-container">
    <!-- Your product cards go here -->
    <div class="col-6 col-md-4 col-lg-3">
      <!-- Your product card content -->
    </div>
    <!-- Repeat for other product cards -->
  </div>
  


       

         

        <main class="main">
            <div class="intro-section bg-lighter pt-3">
                <div class="container">
                    <div class="banner-group">
                        <div class="row ">
                            <div class="col-lg-8">
                                <div class="banner banner-big">
                                    <a href="#">
                                        <img src="/user/assets/images/demos/demo-7/banners/banner-1.jpg" alt="Banner">
                                    </a>
    
                                    <div class="banner-content"> 
                                        <h4 class="banner-subtitle">Womens</h4><!-- End .banner-subtitle -->
                                        <h3 class="banner-title  text-dark">our Women's Collection—a curated selection designed <br>to empower and celebrate the modern woman.</h3><!-- End .banner-title -->
                                        <!-- <a href="#" class="btn btn-primary btn-rounded"><span>Click Here</span><i class="icon-long-arrow-right"></i></a> -->
                                    </div><!-- End .banner-content -->
                                </div><!-- End .banner -->
                            </div><!-- End .col-lg-8 -->
    
                            <div class="col-lg-4">
                                <div class="row">
                                    <div class="col-sm-6 col-lg-12">
                                        <div class="banner">
                                            <a href="#">
                                                <img src="/user/images/banner-2.jpg" alt="Banner">
                                            </a>
                                           
                                            <div class="banner-content">
                                                <h4 class="banner-subtitle">Mens</h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-dark"> our curated Men's Collection, <br> where sophistication meets comfort.</h3><!-- End .banner-title -->
                                                <!-- <a href="#" class="banner-link text-dark">Click here</a> -->
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 col-lg-12 -->
    
                                    <div class="col-sm-6 col-lg-12" >
                                        <div class="banner" >
                                            <a href="#" >
                                                <img src="/user/images/image-4.webp" alt="Banner" style="height:220px;">
                                            </a>
    
                                            <div class="banner-content">
                                                <h4 class="banner-subtitle text-light">Kids  </h4><!-- End .banner-subtitle -->
                                                <h3 class="banner-title text-light">Delight in the magic of childhood  <br>with our enchanting Kids' Collection.</h3><!-- End .banner-title -->
                                                <!-- <a href="#" class="banner-link">Click here</a> -->
                                            </div><!-- End .banner-content -->
                                        </div><!-- End .banner -->
                                    </div><!-- End .col-sm-6 col-lg-12 -->
                                </div><!-- End .row -->
                            </div><!-- End .col-lg-4 -->
                        </div><!-- End .row -->
                    </div><!-- End .banner-group -->
                </div><!-- End .container -->


            <div class="container">
                <h2 class="title text-center">Currently Popular Items</h2><!-- End .title -->

               

              
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="tab-new" role="tabpanel" aria-labelledby="tab-new-link">

                        <div class="row ">
                            <%Product.slice(0,12).forEach((product)=>{%>
                                <%if(product.Status=="active"){%>   


                            <div class="col-6 col-md-4 col-lg-3 mt-5  " >

                                <div class="product product-4"  ">
                                    <figure class="product-media">
                                        <a href="/singleproduct/<%=product._id%>">
                                            <div style="height: 220px;">

                                                <img src="/uploads/<%= product.Images[0] %>" alt="Product image" class="product-image">
                                            </div>
                                         

                                        </a>
                                        <div class="product-action-vertical">
                                            <a href="#" class="btn-product-icon btn-wishlist btn-expandable"><span>add to wishlist</span></a>

                                        </div>



                                        <div class="product-action">
                                            <hr>
                                            <a href="#" onclick="addtoCart('<%=product._id%>','<%=userid%>')" class="btn-product btn-cart"><span>add to cart</span></a>
                                        </div><!-- End .product-action -->
                                    </figure><!-- End .product-media -->

                                    <div class="product-body mt-2 ">
                                        <div class="product-cat">
 
                                        </div><!-- End .product-cat -->
                                        <h3 class="product-title " style="margin-left: 16px; font-size: 22px;"><a href="/singleproduct/<%=product._id%>" ><%=product.Name%></a></h3><!-- End .product-title -->
                                        <p style="margin-bottom:  8px; margin-left: 16px;"> <%= product.Category ? product.Category.Name : 'No Category' %></p>
                                        <div class="product-price " style="margin-left: 16px; ;">
                                            ₹<%= product.OfferPrice %>     <s  class="text-light" style="font-size: 12px; ">₹<%= product.Price %></s>  
                                          </div>
                                        <!-- End .product-price -->
                                        <p style="margin-left: 16px;">only <span class="text-danger" ><%=product.Quantity%></span> left</p>
                                      

                                    </div><!-- End .product-body -->
                                </div><!-- End .product -->
                            </div><!-- End .col-sm-6 col-md-4 col-lg-3 -->
                            <%}%>
                            <%})%>


                            
                            </div><!-- End .row -->
                    </div><!-- .End .tab-pane -->
                </div><!-- End .tab-content -->
               

                <div class="mb-3"></div><!-- End .mb-6 -->
            </div><!-- End .container -->



        </main><!-- End .main -->

    </div><!-- End .page-wrapper -->
    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    <script>
        function addtoCart(proid, userid) {
            const quantity = 1
    
            // Make an AJAX request to the backend
            fetch(`/addingcart/${proid}/${userid}/${quantity}`, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify({
                    quantity: quantity,
                }),
            })
                .then((response) => response.json())
                .then((data) => {
                    // Handle the response from the backend
                    console.log('Response from backend:', data);
                    document.querySelector('.cart-count').innerText=data.newCartCount
    
                    // Display SweetAlert notification
                    Swal.fire({
                        icon: 'success',
                        title: 'Product added to cart!',
                        showConfirmButton: false,
                        timer: 1500, // Display the notification for 1.5 seconds
                    });
                })
                .catch((error) => {
                    console.error('Error:', error);
    
                    // Display SweetAlert error notific0ation
                    Swal.fire({
                        icon: 'error',
                        title: 'Error adding to cart',
                        text: 'An error occurred while adding the product to the cart.',
                        }).then((result) => {
                        if (result.isConfirmed) {
                            // Redirect to the login page
                            window.location.href = '/login'; // Replace '/login' with the actual URL of your login page
                        }
                    });

                });
                
        }
    </script>
   
<%-include('../partials/user/mobilenav.ejs')%>
  
    <%-include("../partials/user/footer.ejs")%>
    <%-include('../partials/user/footbar.ejs')%>