<%-include("../partials/user/header.ejs")%>

<style>
	#successMessage {
		color: green;
	}

	#errorMessage {
		color: red;
	}

	


#progressbar-1 {
color: #455A64;
}

#progressbar-1 li {
list-style-type: none;
font-size: 13px;
width: 33.33%;
float: left;
position: relative;
}

#progressbar-1 #step1:before {
content: "1";
color: #fff;
width: 29px;
margin-left: 22px;
padding-left: 11px;
}

#progressbar-1 #step2:before {
content: "2";
color: #fff;
width: 29px;
}

#progressbar-1 #step3:before {
content: "3";
color: #fff;
width: 29px;
margin-right: 22px;
text-align: center;
}

#progressbar-1 li:before {
line-height: 29px;
display: block;
font-size: 12px;
background: #455A64;
border-radius: 50%;
margin: auto;
}

#progressbar-1 li:after {
content: '';
width: 121%;
height: 2px;
background: #455A64;
position: absolute;
left: 0%;
right: 0%;
top: 15px;
z-index: -1;
}

#progressbar-1 li:nth-child(2):after {
left: 50%
}

#progressbar-1 li:nth-child(1):after {
left: 25%;
width: 121%
}

#progressbar-1 li:nth-child(3):after {
left: 25%;
width: 50%;
}

#progressbar-1 li.active:before,
#progressbar-1 li.active:after {
background: #1266f1;
}

.card-stepper {
z-index: 0
}
</style>
<div class="page-wrapper">
    <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav mb-3">
            <div class="container"></div><!-- End .container -->
        </nav><!-- End .breadcrumb-nav -->

        <div class="page-content mt-5">
            <div class="dashboard">
                <div class="container">
                    <div class="row">
                        <div class="col-md-8 col-lg-9">
                            <div class="tab-content">
                                <form action="/changepasswordinreset/<%=token%>" method="POST">
                                    <label>New password (leave blank to leave unchanged)</label>
                                    <input type="password" class="form-control" id="register-password-2" name="newpassword">

                                    <label>Confirm new password</label>
                                    <input type="password" class="form-control mb-2" id="confirm-password" name="confirmpassword">

                                    <div class="form-check mb-4">
                                        <input class="form-check-input" type="checkbox" id="showPasswordCheckbox" onclick="togglePasswordVisibility()" style="margin-top: 7px;">
                                        <label class="form-check-label" for="showPasswordCheckbox" style="margin-left: 5px;">Show Password</label>
                                    </div>
									<p id="errorMessage"></p>
                                    <% if(locals.message) { %>
                                    <div id="successMessage"><%= locals.message %></div>
                                    <% } %>
                                    <% if(locals.errmsg) { %>
                                    <div id="successMessage" class="text-danger"><%= locals.errmsg %></div>
                                    <% } %>
                                    <input type="text" name="userid" value="<%=userId%>" hidden>
                                    <input name="token" value="<%=token%>" hidden>
                                    <button type="submit" class="btn btn-primary mt-5" id="submitButton" disabled>Change</button>
                                </form>
                            </div>
                        </div><!-- End .col-lg-9 -->
                    </div><!-- End .row -->
                </div><!-- End .container -->
            </div><!-- End .dashboard -->
        </div><!-- End .page-content -->
    </main><!-- End .main -->

    <button id="scroll-top" title="Back to Top"><i class="icon-arrow-up"></i></button>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        function togglePasswordVisibility() {
            const passwordInput = document.getElementById('register-password-2');
            const confirmPasswordInput = document.getElementById('confirm-password');
            const showPasswordCheckbox = document.getElementById('showPasswordCheckbox');

            if (showPasswordCheckbox.checked) {
                passwordInput.type = 'text';
                confirmPasswordInput.type = 'text';
            } else {
                passwordInput.type = 'password';
                confirmPasswordInput.type = 'password';
            }
        }

        const passwordInput = document.getElementById('register-password-2');
    const submitButton = document.getElementById('submitButton');
    const errorMessage = document.getElementById('errorMessage');

    passwordInput.addEventListener("input", function () {
        const password = passwordInput.value;
        const passwordRegex = /^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@$!%*?&])[A-Za-z\d@$!%*?&]{6,}$/;

        if (passwordRegex.test(password)) {
            submitButton.disabled = false;
            passwordInput.setCustomValidity("");
            errorMessage.innerText = ""; // Clear any previous error message
        } else {
            submitButton.disabled = true;
            passwordInput.setCustomValidity("Password must contain at least 6 characters, including one uppercase letter, one lowercase letter, one number, and one special character.");
            if (password.length > 0) {
                errorMessage.innerText = "Password must contain at least 6 characters, including one uppercase letter, one lowercase letter, one number, and one special character.";
            } else {
                errorMessage.innerText = ""; // Clear the error message if the password is empty
            }
        }
    });

    // Function to clear error message when focus is on password field
    passwordInput.addEventListener("focus", function () {
        errorMessage.innerText = "";
    });
    </script>
</div>







 <%-include('../partials/user/footer.ejs')%>